.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: darkorange solid 2px;
    width: 600px;
    height: 600px;
    margin: 50px;
}

.product-title{
    color: red;
    font-size: x-large;
}

.product-image{
    width: 500px;
    height: 500px;
    object-fit: contain;
}