.time{
    display: flex;
    padding-top: 20px;
}

.hourDuration{
    border: blue solid 1px;
}

.block{
    border: red solid 1px;
    padding: 10px;
    margin-bottom: 50px;
}

.title{
    border: blue solid 1px;
}

.monthDuration{
    border: blue solid 1px;
    margin-right: 50px;
}

.ul{
    border: blue solid 1px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.li{
    border: blue solid 1px;
    margin-bottom: 20px;
}