.button{
    width: 90%;
    height: 100px;
}

.divBtn{
    display: flex;
    justify-content: center;
}

.divPost{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    margin: auto;
}

.divPostDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}